<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<aside th:fragment="asideFragment">-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li class="plus" aside_d1="global">-->
<!--                <ul class="sub">-->
<!--                    <li><a onclick="movePage(URI_CP_BASE_URL)" aside_d2="g_overview">Overview</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</aside>-->
<!--</html>-->