<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<span th:fragment="configFragment">

    <script th:inline="javascript">

    const URI_CP_BASE_URL = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_BASE_URL}]];
    const URI_CP_MIGRATION_API = [[${@environment.getProperty('migrationApi.url')}]] + '/';
    const URI_CP_VAULT_API = [[${@environment.getProperty('vaultApi.url')}]] + '/';

     var URI_CP_DETAILS = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_DETAILS}]];

     //사용자 로그인 데이터 조회
     var URI_CP_GET_USER_LOGIN_DATA =  [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_GET_USER_LOGIN_DATA}]];
     var URI_CP_REFRESH_TOKEN = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_REFRESH_TOKEN}]];

     var URL_API_LOCALE_LANGUAGE = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URL_API_LOCALE_LANGUAGE}]];
     var URL_API_CHANGE_LOCALE_PARAM = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URL_API_CHANGE_LOCALE_PARAM}]];
     var LANG_KO = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).LANG_KO}]];
     var LANG_EN = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).LANG_EN}]];


     var RESULT_STATUS_SUCCESS = [[${T(org.container.platform.migration.ui.common.Constants).RESULT_STATUS_SUCCESS}]];
     var RESULT_STATUS_FAIL = [[${T(org.container.platform.migration.ui.common.Constants).RESULT_STATUS_FAIL}]];

    var URI_CP_MIGRATIONS_LIST = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_MIGRATIONS_LIST}]];
    var URI_CP_MIGRATIONS_DETAIL = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_MIGRATIONS_DETAIL}]];
    var URI_CP_MIGRATIONS_CREATE = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_MIGRATIONS_CREATE}]];

    var URI_CP_ACCOUNTS_LIST = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_ACCOUNTS_LIST}]];
    var URI_CP_ACCOUNTS_DETAIL = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_ACCOUNTS_DETAIL}]];
    var URI_CP_ACCOUNTS_CREATE = [[${T(org.container.platform.migration.ui.common.ConstantsUrl).URI_CP_ACCOUNTS_CREATE}]];

     // VALUE
     //var NAMESPACE_ALL_VALUE ='ALL';
     var MSG_WANT_TO_SIGN_OUT = [[#{M0010}]];
     var MSG_INTEGRATED_SIGN_OUT_TAKES_PLACE = [[#{M0011}]];
     var MSG_CHECK_TO_DELETE = [[#{M0014}]];
     var MSG_CHECK_TO_SAVE = [[#{M0015}]];
     var MSG_CHECK_TO_CHECK = [[#{M0017}]];
     var MSG_CHECK_TO_VALUE = [[#{M0031}]];
     var MSG_CHECK_TO_VERIFIED = [[#{M0034}]];
     var MSG_CHECK_TO_VERIFICATION_FIRST = [[#{M0035}]];
     var MSG_CHECK_TO_BUCKET = [[#{M0036}]];
     var MSG_CHECK_TO_MODIFY = [[#{M0016}]];
     var MSG_CHECK_TO_SYNC = [[#{M0018}]];
     var MSG_CHECK_TO_COPY = [[#{M0019}]];
     var MSG_CHECK_TO_SELECT_BOX = [[#{M0030}]];
     var MSG_CHECK_TO_REGISTER_ACCOUNT = [[#{M0037}]];
     var MSG_CHECK_TO_SUCCESS = [[#{M0032}]];
     var MSG_CHECK_TO_FAIL = [[#{M0033}]];
     var MSG_ALREADY_EXIST = [[#{M0038}]];
     var MSG_NO_BUCKET = [[#{M0039}]];
     var MSG_SAVE_ACCOUNTS = [[#{M0040}]];

     // MESSAGE PROPERTIES
     var MSG_CONFIRM = [[#{M0020}]];
     var MSG_CLOSE = [[#{M0023}]];
     var MSG_INVALID_FORMAT = "형식이 올바르지 않습니다.";

     var CURRENT_LOCALE_LANGUAGE = '';

     var IS_NAMELOAD = false;
     var IS_VCHK = false;
     var IS_SEARCH = false;

     var VAULT_PRIVATE_KEY = [[${@environment.getProperty('key.vault.private')}]];
     var VAULT_PUBLIC_KEY = [[${@environment.getProperty('key.vault.public')}]];
     var VAULT_HMAC_KEY = [[${@environment.getProperty('key.vault.hmac')}]];
     var MIG_PRIVATE_KEY = [[${@environment.getProperty('key.migration.private')}]];
     var MIG_PUBLIC_KEY = [[${@environment.getProperty('key.migration.public')}]];
     var MIG_HMAC_KEY = [[${@environment.getProperty('key.migration.hmac')}]];

</script>


<script>
 function movePage(locationName) {
     location.href = locationName;
 }

 function historyBack() {
     window.history.back();

 }

 function changeLocaleLanguage() {
     var u_locale_lang = document.getElementById("u_locale_lang").value
     var reqUrl = URL_API_LOCALE_LANGUAGE + "?" + URL_API_CHANGE_LOCALE_PARAM + "=" + u_locale_lang;
     func.setMigLocaleLang(reqUrl);
 }

 function reloadPage() {
     location.reload();
 }

</script>
</span>

</html>