<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <div id="content" class="sub-page clusters">
        <!--<article class="location">
        </article>-->
        <article class="base">
            <div class="creat">
                <h3 th:text="|Accounts #{M0022}|"></h3>
                <div>
                    <dl>
                        <dt><label for="accountsName">Name</label></dt>
                        <dd>
                            <input id="accountsName" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="storageType">Storage Type</label></dt>
                        <dd>
                            <fieldset>
                                <select id="storageType">
                                    <option value="s3">S3</option>
                                </select>
                            </fieldset>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="endpoint">Endpoint</label></dt>
                        <dd>
                            <input id="endpoint" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="accessKeyId">Access Key Id</label></dt>
                        <dd>
                            <input id="accessKeyId" type="text"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="secretAccessKey">Secret Access Key</label></dt>
                        <dd>
                            <input id="secretAccessKey" type="text"/>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- btn -->
            <div class="btn02">
                <div>
                    <button type="submit" id="save" th:text="#{M0026}"></button>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.2.0/jsrsasign-all-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script type="text/javascript" th:inline="javascript">

        window.onload = () => {

            const accountsCreate = {

                init() {
                    sessionStorage.setItem('accessToken' , 'Bearer ' + [[${accessToken}]]);
                    sessionStorage.setItem('userGuid' , [[${userGuid}]]);
                    sessionStorage.setItem('accountsCnt', '0')
                    sessionStorage.setItem('accountsName' , '-');

                    console.log("VAULT_PRIVATE_KEY:::: " + func.vaultPrivateKey)
                    console.log("VAULT_PUBLIC_KEY:::: " + func.vaultPublicKey)
                    console.log("VAULT_HMAC_KEY:::: " + func.vaultHmacKey)
                    console.log("MIG_PRIVATE_KEY:::: " + func.migPrivateKey)
                    console.log("MIG_PUBLIC_KEY:::: " + func.migPublicKey)
                    console.log("MIG_HMAC_KEY:::: " + func.migHmacKey)
                },

                event() {
                    let accountsName = document.querySelector('#accountsName');
                    let storageType = document.querySelector('#storageType');
                    let endpoint = document.querySelector('#endpoint');
                    let accessKeyId = document.querySelector('#accessKeyId');
                    let secretAccessKey = document.querySelector('#secretAccessKey');

                    document.getElementById('save').addEventListener('click', () => {

                        if (accountsName.value === '' || storageType.value === '' || endpoint.value === '' || accessKeyId.value === '' || secretAccessKey.value === '') {
                            func.alertMigPopup('CHECK', MSG_CHECK_TO_VALUE, true, MSG_CONFIRM, 'closed');
                        } else if (accountsName.value !== '' && storageType.value !== '' && endpoint.value !== '' && accessKeyId.value !== '' && secretAccessKey.value !== '') {
                            func.alertMigPopup('SAVE', MSG_CHECK_TO_SAVE, true, MSG_CONFIRM, accountsCreate.save);
                        }

                    }, false);

                },

                async save() {

                    let accountsName = document.querySelector('#accountsName').value;
                    let storageType = document.querySelector('#storageType').value;
                    let endpoint = document.querySelector('#endpoint').value;
                    let accessKeyId = document.querySelector('#accessKeyId').value;
                    let secretAccessKey = document.querySelector('#secretAccessKey').value;
                    let type = 'vault';

                    let timestamp = func.createUnixTimestamp();
                    let accountsCreate = {"basePath":"storage","userAccount":sessionStorage.getItem('userGuid'),"configName":accountsName,"content":{"storageType":storageType,"endpoint":endpoint,"accessKeyId":accessKeyId,"secretAccessKey":secretAccessKey}}
                    let includeTimestampData = {"data":accountsCreate,"timestamp":timestamp.toString()}
                    let hmacData = func.encodeHmacSha256(JSON.stringify(includeTimestampData), type);
                    let includeHmacData = {"data":accountsCreate,"hmac_data":hmacData,"timestamp":timestamp.toString()}
                    let aesIV = func.generateAesIv();

                    let encodeDataWithAes = func.encodeDataWithAes(JSON.stringify(includeHmacData), aesIV.aes, aesIV.iv);
                    const encodeRsaAes = await func.encodeRsaWebCryptoAPI(aesIV.aes, type)
                    const encodeIvBase64 = func.encodeIvBase64(aesIV.iv)

                    let encodeData = {
                        "key": encodeRsaAes,
                        "iv": encodeIvBase64,
                        "data": encodeDataWithAes
                    }

                    func.saveMigData('POST', `${func.vaultUrl}v1/vault`, JSON.stringify(encodeData), true, 'application/json', movePage(URI_CP_ACCOUNTS_LIST));
                    sessionStorage.setItem('accountsData' , 'Y');
                },
            };
            accountsCreate.init();
            accountsCreate.event();
        };

        async function responseDecodeDataWithAes(data, aes, iv) {

            try {
                return CryptoJS.AES.decrypt(data.toString(), CryptoJS.enc.Hex.parse(aes),
                    { iv: CryptoJS.enc.Hex.parse(iv),
                        padding: CryptoJS.pad.Pkcs7,
                        mode: CryptoJS.mode.CBC
                    }).toString(CryptoJS.enc.Utf8);
            } catch (error) {
                console.log("Decrypt Error")
            }

        }

    </script>
</th:block>
</html>